body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
.blue-color{
    color: blue;
}

.h1-margin{
    margin: 0;
}

.blue-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(60, 0, 255), rgb(0, 217, 255));
    color: white;
    padding: 15px 25px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 15px grey;
}

#div-sec1-positioning{
    padding-top: 8%;
}

div h1{
    font-size: 500%;
}
.flexible-style{
    display: flex;
}

.half-width{
    width: 50%;
}

.half-width p{
    font-size: 150%;
    padding-bottom: 10px;
    text-align: justify;
}

#first-img-padd{
    /* padding-left: 100px; */
    margin-left: 15%;
}

#first-section{
    margin-left: 5%;
    margin-top: 2%;
    
}

#second-section{
    margin-top: 10%;
    background-image: url(images/bg-2nd-section.jpg);
    background-repeat: no;
    background-image: fixed;
}

#second-img{
    padding-top: 20%;
    width: 70%;
}

.half-width h2{
    font-size: 300%;
}

#div-sec2-positioning{
    margin-left: 10%;
    margin-right: 5%;
}

#div-sec2-positioning h2{
    margin-top: 35%;
}

#div-sec2-positioning p{
    margin-bottom: 15%;
    color: grey;
}

#my-recipie{
    font-size: 300%;
}
#third-section p{
    font-size: 130%;
    color: grey;
}
/* #recep-first-section{
    text-align: center;
    width: 50%;
    margin-left: 25%;
} */

#recep-first-section{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 80px;
}

.one-third img{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    border-radius: 10%;
}



.one-third{
    width: 20%;
    margin: auto;
    text-align: justify;
    padding: 20px 20px;
    box-shadow: 0 0 20px grey;
    border-radius: 30px;
}

.one-third h2{
    font-size: 200%;
}

.followers-section{
    width: 20%;
    margin: auto;
    text-align: center;
}

.followers-section h2{
    font-size: 300%;
    margin-bottom: 0;
}

.followers-section p{
    font-size: 120%;
    margin-top: 0;
}

#fourth-section{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 0 20px grey;
    border-radius: 30px;
    padding-bottom: 28px;
}

#foot-edit{
    text-align: center;
    margin-top: 8%;
    background-image: linear-gradient(blue, blue);
    padding-bottom: 3%;
    padding-top: 2%;
}

#foot-edit h2{
    font-size: 210%;
    margin-bottom: 0;
    color: white;
}

#foot-edit p{
    font-size: 120%;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

#subscribe-sec{
    text-align: center;
    margin-top: 8%;
    /* background-image: linear-gradient(skyblue, skyblue); */
    background-image: url(images/bg-2nd-section.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10%
}

#subscribe-sec p{
    font-size: 130%;
    margin-right: 10%;
}
#email{
    padding: 15px;
    border: 10px solid black;
    border-radius: 30px;
    box-shadow: 0 0 20px grey;
}

#submit-button{
    height: 35px;
    width: 120px;
    border: 2px solid white;
    margin-left: 3%;
    font-size: 150%;
    border-radius: 25px;
}